<%include layout%>
<script src="/public/js/image.js"></script>
<body>
	<div class="jumbotron">
		<form action="/addbook" method="post">
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
</body>