<!DOCTYPE html>
<% include layout %>
<script>
var app = angular.module("myApp",[]);
app.controller("myCtrl",function($scope,$http){
	$scope.ajax=function(val)
	{
		$http({
			method:"post",
			url:"/borrowbook",
			data:{
				id:val
			}}).then(function successCallback(){
				$scope.update="Successfully updated";
				$('#span'+val).css("display","none");//to hide the refresh button after successfull call
			});
	}
});
</script>
<body>
	<div class="container" ng-app="myApp" ng-controller="myCtrl">
		<%if(login){%>
		<div class="item" style="padding-left:20px;">
			<h6>YOUR REQUEST</h6>
			<button onclick="location.href='/unapproved'" class=
			"btn btn-primary" style="padding-left:10px;">VIEW</button>
		</div>
		<div class="item" style="padding-left:20px;">
			<h6>OTHER USER</h6>
			<button onclick="location.href='/requestbook'" class=
			"btn btn-primary" style="padding-left:10px;">VIEW</button>
		</div>
		<%}%>
		<% books.forEach(function(book){%>
			<div class="item w2">
				<%if(!book.status){%>
					<span class="glyphicon glyphicon-retweet" style="position:relative;float:right;cursor:pointer;padding-right:10px;" ng-click="ajax('<%=book._id%>')" id="span<%=book._id%>"></span>
				<%}%>
				<img src="<%=book.thumbnail%>" height='150px' width=100px>
				<i><%=book.name%><i>
			</div>
		<%})%>
	</div>
</body>