<!DOCTYPE html>
<%include layout%>
	<body>
		<div class="container">	
			<div class="login">
				<br />
				<p class="clementine-text">Clementine.js</p>
				<a href="/auth/github">
					<div class="btn" id="login-btn">
						<img src="/public/img/github_32px.png" alt="github logo" />
						<p>LOGIN WITH GITHUB</p>
					</div>
				</a><br><br>
				<button type="button" class="btn btn-tw" onclick="location.href='/auth/twitter'"><i class="fa fa-twitter left"></i> Twitter</button>
				<button class="btn btn-primary" onclick="location.href='/signup'">Sign Up</button>
			</div>
			<div class="jumbotron">
			<p class="clementine-text">Login with Username</p>
			<form method="post" action="/login">
				<input type="text" class="form-control" placeholder="Username" name="username" required><br>
				<input type="password" name="password" class="form-control" placeholder="password" required ><br>
				<input type="submit" class="btn btn-primary">
			</form>
		</div>
		</div>
	</body>
