<%include layout%>
<script>
var app=angular.module("myApp",[]);
app.constant('User',<%-user%>)
app.controller('myCtrl',function($scope,User,$http){
	$scope.city=User.city || "City";
	$scope.state= User.state || "State";
	$scope.name = User.displayName;
	console.log(User);
	$scope.ajax=function(){
		var data={
			city:$scope.city,
			state:$scope.state
		};
		$http.post('/updateUser',data).then(function(){
			$scope.update="Successfully updated";
		});
	};
});
</script>
<body ng-app="myApp" ng-controller="myCtrl">
	<form>
		<input class="form-control" name="displaName" placeholder="name" ng-model="name" ng-required="true"><br>
		<input class="form-control" name="city" placeholder="city" ng-model="city" ng-required="true"><br>
		<input class="form-control" name="state" placeholder="state" ng-model="state" ng-required="true"><br>
		<input type="submit" class="btn btn-primary" ng-click="ajax()">
	</form>
	<div class="jumbotron">
	<p>{{update}}</p>
	</div>
</body>