<%include layout%>
<body>
<div class="jumbotron">
	<form action="/signup" method="post">
		<input type="text" placeholder="UserName" name="username" required>
		<br>
		<input type="password" placeholder="password" name="password" required>
		<br>
		<input type="password" placeholder="password" name="password" required>
		<br>
		<input type="submit">
	</form>
</div>