<!DOCTYPE html>
<%include layout%>
<body>
<div class="jumbotron">
	<form action="/signup" method="post">
		<input type="text" placeholder="UserName" class="form-control"name="username" required>
		<br>
		<input type="password" class="form-control" placeholder="password" name="password" required>
		<br>
		<input class="form-control" type="password" placeholder="password" name="password" required>
		<br>
		<input type="submit">
	</form>
</div>